name: Release (with Cabal)

on:
  workflow_dispatch:
  release:
    types: [created]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup Haskell
        uses: haskell-actions/setup@82e8b5066385702e477d9dc98f287070493e8abd # v2.8.2

      - name: Build artifacts
        run: |
          cabal build
          cp $(cabal list-bin .) ./built-with-cabal

      - name: Generate subject for provenance
        id: hash
        run: |
          set -euo pipefail
          echo "hashes=$(sha256sum built-with-cabal | base64 -w0)" >> "${GITHUB_OUTPUT}"

      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: built-with-cabal
          path: built-with-cabal
          if-no-files-found: error
          retention-days: 5

  provenance:
    needs: [build]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true
      provenance-name: built-with-cabal-attestation.intoto.jsonl

  release:
    needs: [build, provenance]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: built-with-cabal

      - name: Upload assets
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          files: |
            built-with-cabal
